
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #f9f9f9;
}

header {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.menu-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  bottom: 0;
}
